cat <<EOF > qr_yatak_odasi/model.config
<?xml version="1.0"?>
<model>
  <name>qr_yatak_odasi</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Akilli Supurge Robotu</name>
  </author>
  <description>
    Yatak Odasi QR kod modeli
  </description>
</model>
EOF

