<launch>
  <arg name="model" default="burger"/>
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

  <param name="/use_sim_time" value="true"/>

  <arg name="map_file" default="$(find akilli_supurge_robotu)/haritalar/ev_haritasi.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>

  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find akilli_supurge_robotu)/rviz/navigasyon.rviz" output="screen"/>
</launch>
